.element__button {
    background-image: url(../../../images/like.svg);
    width: 22px;
    height: 19px;
    background-size: contain;
    background-repeat: no-repeat;
    appearance: none;
    border: 0;
    border-radius: 0;
    padding: 0;
    cursor: pointer;
    align-self: center;
    background-color: transparent;
}


  
.element__button:hover {
    opacity: 0.5;
}
.element__button:active {
    background: url(../../../images/like_active.svg) center center;
}